body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #ffd700 0%, #c0c0c0 50%, #cd7f32 100%);
  min-height: 100vh;
}

.App {
  text-align: center;
  color: #333;
}
.App h1{
  font-weight: 700;
  color: #f9f9f97e;
  -webkit-text-stroke: #000;
  -webkit-text-fill-color: #ffffff;
}

.header {
  width: 50%; 
  margin: 20px auto;
  background: rgba(86, 150, 234, 0.8); 
  padding: 10px 30px; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.header h2{
  text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
}
.tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border-bottom: 2px solid #ccc;
}

.tab {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  color: #555;
}

.tab:hover {
  color: #000;
}

.tab.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.content {
  margin: 20px;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background: white; 
  border-radius: 10px; 
  overflow: hidden; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2); 
}

h2 {
  margin-bottom: 20px;
}

@media screen and (max-width:500px){
  a , p{
    font-size: 12px
  }
}


@media screen and (max-width:500px){
  h1, h2{
    font-size: 20px
  }
}